#navigation {
 background: linear-gradient(#4d97ff, #4280d7);
}
#topnav .innerwrap {
 background: linear-gradient(#0f8bc0, #0c6f99);
}
.outer .title-banner.masthead {
 background: linear-gradient(#ffbf00, #c90);
}
.outer .categories li:hover {
 background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)) !important;
}
.outer .categories li.active {
 background: linear-gradient(#0fbd8c, #0b8a66);
}
.sub-nav li:hover,
.sub-nav button:hover {
 transition: background .25s ease;
}
#topnav .input {
 background: linear-gradient(#0b678f, #119dd9);
 color: white;
}
#topnav #search-input {
 background: linear-gradient(#0d7aa8, #119dd9);
 color: white;
}
.search-input, .input {
 box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
 transition: border linear .2s,box-shadow linear .2s;
}
#footer {
 background: linear-gradient(#e6e6e6, #d9d9d9);
 box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
.tab-background {
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
 background: linear-gradient(white, whitesmoke);
}
.tabs {
 background-color: inherit;
}
/*.button {
 background: linear-gradient(#4d97ff, #3d79cc);
}*/
.outer #projectBox .button {
    background: linear-gradient(#4d97ff, #3d79cc);
}
.load-more-button, .copy-link-button, .see-inside-button {
 background: linear-gradient(#4d97ff, #3d79cc);
}
.intro-banner .intro-button {
    background: linear-gradient(#fff, rgba(204, 204, 204, 0.5));
}
.donate-banner .donate-container .donate-button {
    background: linear-gradient(#fff, rgba(204, 204, 204, 0.5));
}
.donate-banner .donate-close-button {
    box-shadow: 0px 0px 10px #0b8e69;
}
.intro-banner .intro-subnav .subnav-button {
    background: linear-gradient(#4d97ff, #3d79cc);
}
.step-number {
 background: linear-gradient(#4d97ff, #3d79cc);
}
.v-tabs li.active:hover,
.v-tabs li.active {
 background: linear-gradient(#999, #666);
}
.v-tabs {
 overflow: hidden;
}
[class^="gui_menu-bar-position_"] {
 /*gui_menu-bar-position_3U1T0 menu-bar_menu-bar_JcuHF*/     background: linear-gradient(hsl(215.1, 100%, 65.1%), #3d79cc);
} /*.menu-bar_menu-bar-item_oLDa-.menu-bar_active_2Lfqh, .menu-bar_menu-bar-item_oLDa-.menu-bar_hoverable_c6WFB:hover {     background: hsla(0, 0%, 0%, 0.15); }*/
[class^="menu-bar_menu-bar-item_oLDa-.menu-bar_active_2Lfqh"]:hover {
 background: hsla(0, 0%, 0%, 0.15);
}
[class^="modal_header_"] {
 background: linear-gradient(#4d97ff, #3d79cc);
}
[class*="share-button_share-button_"] {
    background: linear-gradient(#ff8c1a, #cc7014);
}
.studio-tab-nav .active > li {
    background: linear-gradient(#4d97ff, #3d79cc);
}
.donate-banner {
    background: linear-gradient(#0b8e69, #075c44);
}
